@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

#root {
    width: 100%;
    margin: 0 auto;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0.0);
  }

html {
  scroll-timeline: --direction-text block;
}

body {
    width: 100%;

    font-family: "Readex Pro", serif;
    font-weight: 400;
    font-style: normal;

    color: #000000;
    background: #ffffff;
  }

.animation-timeline {
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}
