@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*:hover {
  cursor: none;
}

#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

body {
    width: 100%;

    font-family: "Almarai", system-ui;
    font-weight: 400;
    font-style: normal;

    color: rgb(23,23,23);
    background: #F4F4F4;
  }

.title-gradient {

    background:
    radial-gradient(
      circle at 5% 80%,
      rgba(210,142,160,1),
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      circle at 25% 20%,
      rgba(224,121,116,1),
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
        circle at 45% 60%,
        rgba(246,200,137,1),
        rgba(0, 0, 0, 0) 80%
      ),
    radial-gradient(
      circle at 70% 60%,
      rgba(30,87,157,1),
      rgba(0, 0, 0, 0) 60%
    ),
    radial-gradient(
        circle at 88% 0%,
        rgba(49,167,221,1),
        rgba(0, 0, 0, 0) 60%
      );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-button {
    width: 2.47vw;
    height: 2.47vw;
}
