@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*:hover {
  cursor: none;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

#root {
    width: 100%;
    margin: 0 auto;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0.0);
  }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0px 1000px #1A1A1A inset;
  transition: background-color 5000s ease-in-out 0s;
}

html {
  scroll-timeline: --direction-text block;
}

body {
    width: 100%;

    font-family: "Readex Pro", serif;
    font-weight: 400;
    font-style: normal;

    color: #000000;
    background: #ffffff;
  }


.animation-timeline {
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}
